body{
    background-color: rgb(128, 72, 116);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, rgb(0, 0, 0), rgb(94, 6, 64), rgb(122, 70, 106));
    color:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    text-align: center;
    padding:200px;
}
header img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border:4px solid rgb(84, 11, 87);
}


header h1{
    margin: 15px 0 5px;
    font-size: 40px;
}




main{
    display:flex;
    flex-direction:column;
    gap:20px;
    width: 80%;
    max-width: 400px;
}



header p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

footer{
    margin: 30px 0px;
    font-size: 14px;
    font-weight: bold;
}